<div class="artist">


<div class="container">
  <h1>This is the Contact Page</h1>
  <p>WOW, How Bad Is Our CSS On This Form</p>
  <p>If You Need To Contact Us We Would Rather You Just Called..!</p>
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:30px"></textarea>

    <input type="submit" value="Submit" height="20px">

  </form>

<form>
  <p>Enter your email here...What Do You Mean You Don't Have An Email..!?</p>
  <input type="email" name="email">
  <button type="submit">Subscribe!</button>
</form>
</div>

</div>
