<div id="artist-wrapper">
  <% @exhibits.each do |exhibit| %>

  <div class="exhibit">
    <h3><a href="/exhibits/<%= exhibit.id %>"><%= exhibit.format_name_exhibit %></a></h3>
  </div>
  <% end %>

</div>
