<div id="artist-wrapper">
  <% @exhibits.each do |exhibit| %>
  <div class="artist">
    <h3><a href="/exhibits/<%= exhibit.id %>"><%= exhibit.format_name_exhibit %></a></h3>
  </div>
  <% end %>
</div>
<!-- <form action="/artists/" method="POST" class="centered">
  <label>name</label>
  <input type="text" name="name" required/>
  <label>artists</label>
  <<input type="text" name="artist" required/>
  <<input type="submit" value="create new artist">
</form> -->
