<div class="artist">
<h1>This is the Index Page</h1>
  <p>Otherwise known as the Home Page</p>
  <p>Begin Your Journey To Find Your Perfect Image Here!</p>
</div>





<!-- <html>
<head>
  <title>Responsive Gallery<title>
    <!--links to the stylesheet-->
    <!-- <link rel="stylesheet" type="text/css"  href="styles.css"> -->
<!-- </head> -->
<!-- <body> -->
  <!-- class of 'container' holds other items (sub classes)-->
  <!-- <div class='container'>
    <div><img src=''/></div>
    <div><img src=''/></div>
    <div><img src=''/></div>
    <div><img src=''/></div>
    <div><img src=''/></div>
    <div><img src=''/></div>
    <div><img src=''/></div>
    <div><img src=''/></div>
  </div>
    </body>
</html> -->
