<h2>Add Artist</h2>
<form method="POST" action="/artists">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="age">Category:</label>
      <input type="text" name="category" id="category"/>
    </div>

    <!-- <div class="form-el">
      <label for="exhibit_select">Select Exhibit:</label>
      <select name="exhibit_id" id="exhibit_select">
        <%# <% @exhibitseach do |exhibit| %> %>
            <%# <option value=<%= exhibitid %>><%= exhibitnamecapitalize %></option> %>
        <%# <% end %> %>
      </select>
    </div> -->


    <div class="form-el">
      <input type="submit" value="Enrol Student"/>
    </div>

  </div>
</form>
