body {
  padding: 100px;
  font-family: 'Major Mono Display', monospace;
  color: #dbeef9;
  background-image: url("/deanna-j-565002-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

a {
  text-decoration: underline;
  color: red;
}

a:hover {
  color: black;
}


#menu {
  width: 200px;
  display: flex;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}


#logo {
  text-align: justify;
}


#artist-wrapper {
  margin-left: 500px;
}
.artist {
  border: 5px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: 200px;
  display: inline-block;
}

.form-el {
  margin: 10px 0;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-left: 180px;
}

.form-wrapper .form-el label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}
