* {
  box-sizing: border-box;
}

.flexContainer {
    display: flex;
}
.flexItem {
    flex: 1;
}
.flexStart {
    justify-content: flex-start;
}
.flexEnd {
    justify-content: flex-end;
}
.blackBackground {
    background: black;
}
.nav {
    list-style: none;
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: white;
}

body {
  padding: 100px;
  font-family: 'Major Mono Display', monospace;
  color: #dbeef9;
  /* background-image: url("/deanna-j-565002-unsplash.jpg"); */
  /* background-image: url("https://picsum.photos/3500/2333?image=1069"); */
  background-image: url("https://picsum.photos/3500/2333?random");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: underline;
  color: yellow;
}

a:hover {
  color: red;
}

#menu {
  width: 200px;
  display: flex;
  margin: 0 auto;
}

.menu-item {
  display: list-item;
  flex-grow: 1;
  background-color: black;
}


#artist-wrapper {
  /* margin-left: 100px; */
  display: flex;
  /* flex-flow: column; */
  justify-content: center;
  /* background-color: red; */
}
#exhibit-wrapper {
  /* margin-left: 100px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* background-color: red; */
}
.artist {
  display: flex;
  flex-flow: column;
  align-content: center;
  border: 5px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: auto;
  height: auto;
  background: #333;
}
.exhibit {
  display: flex;
  flex-flow: column;
    align-content: center;
  border: 5px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: auto;
  height: auto;
  background: #333;
}

.form-el {
  margin: 100px 0;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-left: auto;
}

.form-wrapper .form-el label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}

header, footer {
  background: black;
  height: 5vh;
}
header, footer:hover {background-color: #f5f5f5;}

header, footer, article, nav, aside {
  padding: 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
 margin: 5px;
 transition: all 2s;
}
img:hover {
 transform: scale (1.1);
}
