* {
  box-sizing: border-box;
}

.flexContainer {
    display: flex;
}
.flexItem {
    flex: 1;
}
.flexStart {
    justify-content: flex-start;
}
.flexEnd {
    justify-content: flex-end;
}
.blackBackground {
    background: black;
}
.nav {
    list-style: none;
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: white;
}

body {
  padding: 100px;
  font-family: 'Major Mono Display', monospace;
  color: #dbeef9;
  background-image: url("/deanna-j-565002-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: underline;
  color: red;
}

a:hover {
  color: black;
}


#menu {
  width: 200px;
  display: flex;
  margin: 0 auto;
}


.menu-item {
  display: list-item;
  flex-grow: 1;
  background-color: black;

  /* flex: 1;
  order: 1; */
}


#logo {
  text-align: justify;
}


#artist-wrapper {
  /* margin-left: 100px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.artist {
  display: flex;
  align-content: center;
  border: 5px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: auto;
  height: auto;
  background: #444;
}

.form-el {
  margin: 100px 0;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-left: auto;
}

.form-wrapper .form-el label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}

header, footer {
  background: black;
  height: 5vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}


  /* #main > nav,
  #main > aside {
    flex: 0 0 20vw;
  }
  #main > nav {
    background: #D7E8D4;
    order: 3;
  }
  #main > aside {
    background: beige;
    order: 2;
  } */
